body {
  background-color: #4c8c4a;
  background-image: url("../images/fondchamp1.jpg");
}

.menu {
  background-color: #003300;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../images/fondmenu.png");
  border: 5px solid #003300;
  position: fixed;
  width: 15%;
  height: 100%;
  margin-left: -280px;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.champs {
  width: 100%;
  height: 100%;
  position: static;
  z-index: 2;
}

.plant {
  color: red;
}

.a1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 10%;
}
.a2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 10%;
}
.a3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 10%;
}
.a4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 10%;
}
.a5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 10%;
}
.a6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 10%;
}
.b1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 40%;
}
.b2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 40%;
}
.b3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 40%;
}
.b4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 40%;
}
.b5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 40%;
}
.b6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 40%;
}
.c1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 70%;
}
.c2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 70%;
}
.c3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 70%;
}
.c4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 70%;
}
.c5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 70%;
}
.c6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 70%;
}

.boutonpopfree {
  position: absolute;
  left: 80%;
  top: 88%;
  z-index: 1;
}

.boutonpop2 {
  position: absolute;
  left: 50%;
  top: 88%;
  z-index: 1;
}

.list-group {
  max-height: 90%;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid #003300;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #003300;
  width: 60%;
  height: 60%;
  background-image: url("../images/fondmenu.png");
}
.modal-content2 {
  background-color: bisque;
  margin-left: 10%;
  padding: 20px;
  border: 5px solid #003300;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;

  max-width: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#ffffff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.ham8.active ~ .menu {
  margin-left: 0%;
}

.ham8 {
  display: inline-block;
  vertical-align: top;
  flex-direction: column;
}

.cachecache {
  margin-left: 2%;
  flex-direction: column;
  padding: 1%;
}

#lycee {
  width: 10%;
  height: 10%;
  padding-bottom: 2%;
}

#farmbot {
  width: 10%;
  height: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.generique {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #003300;
  width: 10%;
  height: 10%;
  font-size: small;
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  -webkit-tap-highlight-color: transparent;
  background-color: #000;
  border-radius: 25px;
  box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: relative;
  transform: scale(0.7);
  transition: transform 50ms;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;

}
.container:active {
  transform: scale(0.73);
}
.fill {
  background-color: #000;
  height: 100%;
  position: absolute;
  width: 100%;
}
.fill1 {
  background-color: #fff;
  clip-path: circle(19px at 73px 25px);
}
.fill2 {
  animation: right2 500ms both;
  background-color: #000;
  clip-path: circle(19px at 25px 25px);
}
.circle {
  background: #fff;
  border-radius: 20px;
  height: 38px;
  position: relative;
  top: 6px;
  width: 38px;
}
.circle1 {
  background-color: #000;
  left: 6px;
}
.circle2 {
  animation: right4 500ms both;
  background-color: #fff;
  left: 54px;
}
.drop {
  animation: right2d 500ms both;
  background-color: #fff;
  height: 100%;
  position: absolute;
  width: 100%;
}
.active .fill1 {
  animation: left1 500ms both;
}
.active .fill2 {
  animation: left2 500ms both;
}
.active .circle1 {
  animation: left3 500ms both;
}
.active .circle2 {
  animation: left4 500ms both;
}
.active .drop {
  animation: leftd 500ms both;
}
@keyframes left1 {
  0% {
    clip-path: circle(19px at 73px 25px);
  }
  99% {
    clip-path: circle(74px at 73px 25px);
  }
  100% {
    clip-path: circle(74px at 73px 25px);
  }
}
@keyframes left2 {
  0% {
    clip-path: circle(74px at 25px 25px);
  }
  99% {
    clip-path: circle(19px at 25px 25px);
  }
  100% {
    clip-path: circle(19px at 25px 25px);
  }
}
@keyframes left3 {
  0% {
    left: 14px;
  }
  99% {
    left: 6px;
  }
  100% {
    left: 6px;
  }
}
@keyframes left4 {
  0% {
    left: 54px;
  }
  99% {
    left: 46px;
  }
  100% {
    left: 46px;
  }
}
@keyframes leftd {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes right2 {
  0% {
    clip-path: circle(19px at 25px 25px);
  }
  99% {
    clip-path: circle(74px at 25px 25px);
  }
  100% {
    clip-path: circle(74px at 25px 25px);
  }
}
@keyframes right2d {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes right4 {
  0% {
    left: 46px;
  }
  99% {
    left: 54px;
  }
  100% {
    left: 54px;
  }
}
