body{
    background-image: url('../images/fondmenu.png');
    color:white;
    text-align: center;
    border-radius : 10px;
    }

.btn-close{
    position: absolute;
    top : 10px;
    left : 1150px;
}