body {
  background-color: #4c8c4a;
  background-image: url("../images/fondchamp1.jpg");
}

.menu {
  background-color: #003300;
  border-radius: 10px 10px 10px 10px;
  background-image: url("../images/fondmenu.png");
  border: 5px solid #003300;
  position: fixed;
  width: 15%;
  height: 100%;
  margin-left: -280px;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.champs {
  width: 100%;
  height: 100%;
  position: static;
  z-index: 2;
}

.plant {
  color: red;
}

.a1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 10%;
}
.a2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 10%;
}
.a3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 10%;
}
.a4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 10%;
}
.a5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 10%;
}
.a6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 10%;
}
.b1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 40%;
}
.b2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 40%;
}
.b3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 40%;
}
.b4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 40%;
}
.b5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 40%;
}
.b6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 40%;
}
.c1 {
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 70%;
}
.c2 {
  position: absolute;
  z-index: 1;
  left: 32%;
  top: 70%;
}
.c3 {
  position: absolute;
  z-index: 1;
  left: 44%;
  top: 70%;
}
.c4 {
  position: absolute;
  z-index: 1;
  left: 56%;
  top: 70%;
}
.c5 {
  position: absolute;
  z-index: 1;
  left: 68%;
  top: 70%;
}
.c6 {
  position: absolute;
  z-index: 1;
  left: 80%;
  top: 70%;
}

.boutonpopfree {
  position: absolute;
  left: 80%;
  top: 88%;
  z-index: 1;
}

.boutonpop2 {
  position: absolute;
  left: 50%;
  top: 88%;
  z-index: 1;
}

.list-group {
  max-height: 90%;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid #003300;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #003300;
  width: 60%;
  height: 60%;
  background-image: url("../images/fondmenu.png");
}
.modal-content2 {
  background-color: bisque;
  margin-left: 10%;
  padding: 20px;
  border: 5px solid #003300;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;

  max-width: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#ffffff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.ham8.active ~ .menu {
  margin-left: 0%;
}